@import "./modules/home/home";
@font-face{
    font-family: 'alpha-font';
    src: url('../../public/fonts/DancingScript-Regular.ttf');
}
@font-face{
    font-family: 'beta-font';
    src: url('../../public/fonts/Roboto-Regular.ttf');
}

